html {
	margin:none;
	padding: 0px;
}
body {
	background-color: white;
}
#container {
	margin: 0px auto;
	padding: 0px;
	width: 1200px;
	min-height: 700px;
	background: #3260b5;
	border:1px solid  orange;
}

/*******************Landing Page CSS***********************/

#flipbox {			/* gives the option to rotate the main conatiner for effect*/
	width:100%;
	height: 100%;
}

#landing_header {
	width:100%;
	height:100px;
	background: #ff8a04;
	}

#logo {
	width:100%;
	height: 50%;
	font-size: 24pt;
	background: white
}

#logo a {
	text-decoration: none;
	color:#ff8a04;
	font-size: 1.1em;
}

#landing_date {
	position: relative;
	top:5px;
	left:-5px;
	width:300px;
	height: 50px;
	float: right;
	font-size: 20pt;
	background: white;
	border-bottom: white 2px solid;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius:10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
		}
	
#landing_date_list {
	height:50%;
	width:80%;
	margin:0px;
	padding: 0px;
	list-style: none;
	margin-left:15%;
	margin-top:4%;
	}

#landing_date li {
	float:left;

}

#landing_nav {
	width:100%;
	height:50%;
}

#landing_links_list {
	padding:0px;
	margin:0px; 
	list-style: none;
	width:520px;
	height: 100%;
	background: #ff8a04;
	position: relative;
	top:-5px;
	left:5px;
	border-top: #ff8a04 2px solid;
	border-top-right-radius: 10px;
	border-top-left-radius:10px;
	-webkit-box-shadow: 0px -2px 4px black;
    -moz-box-shadow: 0px -2px 4px black;
    box-shadow:   0px  -2px 4px black;
}

#landing_links_list li {
	float:left;
	height: 100%;
	width:130px;
}



#landing_links_list li a {
	display: block;
	font-size: 1.5em;
	height:50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
}

#landing_links_list li:hover {
	position: relative;
	background-color: #ff8a04;
	box-shadow: -15px 0 15px -10px rgba(0, 0, 0, 0.6),
             				  15px 0 15px -10px rgba(0, 0, 0, 0.6);
	top:-5px;
	padding-top:5px;
	margin-bottom: -5px;
	border-top-right-radius: 5px;
	border-top-left-radius:5px;
	
	}
	
	
body#login a#loginnav,
body#register a#registernav,
body#about a#aboutnav,
body#contact a#connav {
	position: relative;
	background-color: #ff8a04;
	box-shadow: -15px 0 15px -10px rgba(0, 0, 0, 0.6),
             				  15px 0 15px -10px rgba(0, 0, 0, 0.6);
	top:-5px;
	padding-top:5px;
	margin-bottom: -5px;
	border-top-right-radius: 5px;
	border-top-left-radius:5px;

}
#landing_content {
}
	




#landing_form_content {
	position: relative;
	left:5px;
	float: left;
	width:520px;
	height:600px;
	margin:0px;
	padding: 0px;
	/*background: rgba(90,175,228,0.99);*/
}


#landing_footer {
	display: block;
	width:100%;
	height: 50px;
	background: yellow;
}



#header {
	padding:0px;
	width:100%;
	height:50px;
	margin:0px auto;
	margin-bottom: .75%;
}

#navbar {
	width:100%;
	height: 50px;
	background-color: black;
}

#navbar li {
	width:217.6px;
	text-align: center;
	font-size: 1.5em;
}

ul#nav {
	margin: 0px auto;
}
ul.drop a {
	display:block; 
	color: #fff; font-family: 
	Verdana; 
	font-size: 14px; 
	text-decoration: none;
}
ul.drop, ul.drop li, ul.drop ul { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	border: 1px solid #fff;
	 background: #555; 
	 color: #fff;
}
ul.drop {
	position: relative; 
	z-index: 597; 
	float: left; 
}
ul.drop li { 
	float: left; 
	line-height: 1.3em; 
	vertical-align: middle; 
	zoom: 1; 
	padding: 5px 10px; 
}
ul.drop li.hover, ul.drop li:hover {
	position: relative; 
	z-index: 599; 
	cursor: default; 
	background: #1e7c9a; 
}
ul.drop ul {
	visibility: hidden; 
	position: absolute; 
	top: 100%; 
	left: 0; 
	z-index: 598; 
	width: 195px; 
	background: #555; 
	border: 1px solid #fff; 
}
ul.drop ul li {
	float: none; 
}
ul.drop ul ul { 
	top: -2px; 
	left: 100%; 
}
ul.drop li:hover > ul { 
	visibility: visible; 
}
	
#content {
	display: block;
	width:100%;
	min_height:500px;
}

#left_panel {
	float:left;
	width:25%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	
}
	#login_box {
		display: block;
		width:100%;
		height:39.5%;
		background-color: white;
	}
	
	#chat {
		display: block;
		width:100%;
		height:59.5%;
		background-color:pink;
		overflow: scroll;
	}

#main_panel {
	float:left;
	width:50%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	}
	
#main_content {
	margin-right: 3%;
	margin-left: 3%;
	display: block;
	width: 94%;
	height:101%;
	background-color: yellow;
	float:left;
	overflow: scroll;
}

#right_panel {
	float:left;
	width:25%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	}

#recent_activity {
	margin: 0px;
	display: block;
	width:100%;
	height:49%;
	background-color:red;
	overflow: scroll;
}

#pending {
	display: block;
	width:100%;
	height:49%;
	background-color:purple;
	overflow: scroll;
}

.grid {
	border: outset 2px black;
	border-radius: 10px;
	box-shadow: 0 0 2px 2px white;
}

#footer {
	float:left;
	margin: 0px;
	padding: 0px;
	height: 50px;
	width:100%;
	background-color: brown; 
}

.spreader {
	width:100%;
	height:2%;
}


legend {
font-size: 1.5em;
}
.form_wrapper fieldset
{
	width: 400px;
	min-height: 400px;
	padding:20px;
	border:5px solid #ff8a04;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;  
	background-color: #3260b5;
	color:#ff8a04;
	margin: 0px auto;
}
input {
float: right;
}

.form_wrapper legend, .form_wrapper h2
{
   font-family : Arial, sans-serif;
   font-size: 3em;
   font-weight:bold;
}


.form_wrapper label
{
   font-family : Arial, sans-serif;
   font-size:1em;
   font-weight: bold;
}

.form_wrapper input[type="text"],.form_wrapper textarea,
.form_wrapper input[type="password"]
{
  font-family : Arial, Verdana, sans-serif;
	font-size: 0.8em;
	line-height:140%;
	color : #000; 
	padding : 3px; 
	border : 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

}

.form_wrapper input[type="text"],
.form_wrapper input[type="password"]
{
  height:18px;
  width:220px;
}

 .form_wrapper #scaptcha
{
  width:60px;
  height:18px;
}

.form_wrapper input[type="submit"]
{
   width:100px;
   height:30px;
   padding-left:0px;
}

.form_wrapper textarea
{
  height:120px;
  width:310px;
}

.form_wrapper input[type="text"]:focus,
.form_wrapper textarea:focus
{
  color : #009;
  border : 1px solid #990000;
  background-color : #ffff99;
  font-weight:bold;
}

.form_wrapper .container
{
   margin-top:15px;
   margin-bottom: 20px;
}


.error_box {
	width:400px;
   max-height:25px;
   overflow:hidden;

} 


.form_wrapper .error
{
	padding: 3px;
   font-family: Verdana, Arial, sans-serif; 
   font-size: 0.9em;
   color: red;
   }
   
   
.form_wrapper .errormsg
{
	padding: 3px;
   font-family: Verdana, Arial, sans-serif; 
   font-size: 0.9em;
   color: white;
   font-weight: 200;
   background-color : #ff8a04;
   border-radius: 5px;
}

.form_wrapper #register_password_errorloc
{
    clear:both;
}

.form_wrapper  fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

.form_wrapper fieldset#antispam legend
{
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}

.form_wrapper .short_explanation
{
   font-family : Arial, sans-serif;
   font-size: 1em;
   color:#333;   
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
.form_wrapper .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
.form_wrapper #fg_crdiv
{
   font-family : Arial, sans-serif;
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
.form_wrapper  #fg_crdiv p
{
    display:none;
}

.form_wrapper_content li
{
font-family : Arial, sans-serif;
padding-top:10px;
padding-bottom:10px;
}
.form_wrapper_content
{
    font-family : Arial, sans-serif;
    font-size: 0.9em;
    line-height: 150%
}

.form_wrapper_content h2
{
   font-family : Arial, sans-serif;
   font-size: 1.5em;
   font-weight:bold;
   color:#333;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
}
