
.chat_container {
position: relative;
  width:100%;
  height: 100%;
}

.hero-unit h1 {
  font-size: 45px;
}

.hero-unit {
  padding-bottom: 20px;
}

.hero-unit p:last-child {
  margin: 0;
  line-height: 11px;
}

#gravatar {
  display: none;
}

.hide {
  display: none;
}

#pusher_chat_widget .pusher-chat-widget {
position: relative;


width:96%;
margin: 0px auto;
height: 100%;

}

